<form [formGroup]="addressForm">
  <div class="row">
    <daisy-demo-address></daisy-demo-address>
  </div>
  <div class="row">
    <input
      type="text"
      name="apt"
      placeholder="Apt., ste., bldg."
      formControlName="apt"
      #apt
    />
  </div>
  <div class="row">
    <input type="text" name="city" placeholder="City" formControlName="city" />
    <input
      type="text"
      name="state"
      placeholder="State"
      formControlName="state"
    />
  </div>
  <div class="row">
    <input
      type="text"
      name="zipcode"
      placeholder="ZIP code"
      formControlName="zipcode"
    />
  </div>
</form>
