:host {
  position: relative;
  width: 300px;
  display: inline-block;
}

.options {
  &__input {
    all: unset;
    display: block;
    padding: 8px 10px;
    outline: 1px solid var(--gray-100);
    border-radius: 2px;
    width: 100%;
    box-sizing: inherit;
  }
  &__dropdown {
    background: var(--gray-50);
    max-height: 100px;
    overflow-y: auto;
    outline: 1px solid var(--gray-100);
    position: relative;
    top: -1px;
    &__item {
      padding: 8px 10px;
      cursor: pointer;
      &:hover {
        background: var(--blue-50);
      }
    }
  }
}
